<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AsyncIO" targetFramework="net46" version="0.1.40"/>
  <package id="Neodroid-FlatBuffers" targetFramework="net471" version="1.0.0"/>
  <package id="NetMQ" targetFramework="net46" version="4.0.0.156-pre"/>
  <package id="Newtonsoft.Json" targetFramework="net471" version="11.0.2"/>
  <package id="OptimizedPriorityQueue" targetFramework="net46" version="4.1.1"/>
</packages>
